# no temp files
*~
*.swp
# no pyc files
*.pyc
# no data files
*.csv
*.dat
*.root
# no log files
*.log
*.err 
# jupyter
notebook/.ipynb_checkpoints/
share/.ipynb_checkpoints/
analysis/machine_learing/.ipynb_checkpoints/
run/
analysis/pyroot/.ipynb_checkpoints/
